/* MENU */
#menu {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  /* margin-top: 4vw; */
  height: 5vh;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  /* position: sticky;
  top: 0; */
}

.menu-img img {
  max-height: 5vh;
}

.dropdown-menu {
    margin-right: 3vw;
}

.dropdown-button {
  background-color:rgb(240, 135, 193);
  border-radius: 5px;
  border: none;
  padding: 5%;
}

.dropdown-content {
  display: none;
  background-color:  rgb(255, 192, 229);
  position: absolute;
  margin: 6px;
  border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 2vw;
}

.dropdown-content a:hover {
    background-color: rgb(240, 135, 193);
}

/* .dropdown-menu:hover .dropdown-content {
  display: block;
  position: absolute;
  /* right: 2vw; */
  /* top: 4vw; */
  /* margin: 6px;
  border-radius: 5px;
} */

.about {
  display: flex;
  flex-flow: column;
}

.dropdown-menu:hover .dropdown-button{
  background-color: rgb(245, 132, 226);
}

.scroll-down {
  text-align: center;
  display: flex;
  flex-flow: column;
}

/* .scroll {
  animation: reveal 1s ease-out 1.5s backwards;
} */

.scroll:after {
  content: "";
  position: absolute;
  height: 50vh;
  background-image: url("../images/arrow.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 10px;
  /* top: 40vh; */
  /* width: 1px;
  height: 50vh;
  background: var(--text);
  opacity: 0.45;
  animation: vLIneIn 1s ease-in-out 1.5s backwards; */
}

.scroll-down img {
  height: 50vh;
  position: relative;
  /* bottom: 10vh; */
  padding: 10px;
  animation-name: arrow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.hex-pic {

}

/* @keyframes arrow {
  from {top:0vh;}
  to {top: 8vh;}
} */

/* Hexagones */
#grid {
  position: relative;
  max-width: 60%;
  margin: 6% auto;
  /* margin: 6%; */
  padding: 0; /* Clears unordered list default of 40px */
  display: flex;
  flex-flow: column;
}

.main {
  display: block;
}

/* .main-row {
  position: relative;
  max-width: 60%;
  margin: 6% auto;
} */

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  visibility: hidden;
  overflow: hidden;
}

.main-row li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  visibility: hidden;
  overflow: hidden;
  /* margin: 1vw; */
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pink-honeycomb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  visibility: visible;
  overflow: hidden;
}

.main-row li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/pink-honeycomb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  visibility: visible;
  overflow: hidden;
}



#grid li:nth-child(3n+2) {
  position: relative;
  left: 15%;
}

.main .main-row:nth-child(3n+2){
  position: relative;
  left: 10%;
}

.hexagon p {
  margin: 0;
  /* font-weight: bolder; */
  text-align: left;
  position: absolute;
  top: 30%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-row {
  position: relative;
  max-width: 60%;
  /* margin: 6% auto; */
  margin-left: 20vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  /* justify-content: space-between; */
}

.info {
  display: none;
}

/* Hello with name and picture */

.page-header {
  position: relative;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-size: medium;
  text-align: center;
  /* padding: 2vw; */
  /* margin: 2vw; */
}

.name-meaning {
  display: none;
  background-color:rgb(243, 162, 243);
  border-radius: 10px;
  text-align: center;
  font-size: small;
  margin: auto;
  padding: 10px;
  position: absolute;
  left: 30%;
  z-index: 10;
  font-weight: 600;
}

/* .about {
  margin: 2vw;
  margin-top: 2vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
     "info picture"
     "p picture";
  gap: 5px;
} */

.name {
  font-style: italic;
  text-decoration: underline;
}

h1 {
  grid-area: info;
  align-self: center;
  margin: auto;
  font-size: medium;
  text-align: center;
}

p .page-header {
  grid-area: p;
  padding: 0%;
}

.picture {
  grid-area: picture;
  align-self: center;
  text-align: center;
}

.picture img {
  max-width: 25vw;
  align-self: center;
  border-radius: 10px;
  /* opacity: 3%; */
}

/* Media queries */

@media only screen and (max-width:400px) {
  p {
      font-size: x-small;
  }

.picture img {
    max-width: 40vw;
  }

  #menu {
    margin-bottom: 5vh;
  }

  .dropdown-content a {
    font-size:x-small;
  }
}

@media only screen and (min-width:400px)  and (max-width:768px) {
   p {
       font-size: small;
   }

   .dropdown-button {
     font-size: 18px;
   }

   .about {
   margin: 5vh auto;
   max-width: 70vw;
  }

  .scroll-down img {
    max-height: 15vh;
  }
}

@media only screen and (min-width:769px)  and (max-width:1200px) {
  .dropdown-button {
      font-size: 22px;
  }

  .about {
    max-width: 70%;
    margin: 8vh auto;
  }

  .page-header {
    font-size: larger;
 }

 h1 {
   font-size:x-large;
 }

 .about {
    margin: auto;
    margin-top: 2vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "info picture"
      "p picture";
    gap: 5px;
}

  .scroll-down img {
    max-height: 20vh;
  }

}

@media only screen and (min-width:1200px) {
  .dropdown-button {
    font-size: 24px;
  }

  h1 {
    font-size:xx-large;
  }

  .about {
    margin: auto;
    margin-top: 2vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "info picture"
      "p picture";
    gap: 5px;
}

  .page-header {
    font-size: larger;
 }

 .scroll-down img {
  max-height: 30vh;
}
}